{% extends 'basic_skeleton.html' %}
{% block head %}{% endblock %}
{% block body %}
    <h2>SQLite3</h2>
    <h4><a href="https://pythonbasics.org/flask-sqlalchemy/#:~:text=Step%201%20%2D%20Install%20the%20Flask%2DSQLAlchemy%20extension.&text=Step%202%20%2D%20You%20need%20to,SQLAlchemy%20class%20from%20this%20module.&text=Step%203%20%2D%20Now%20create%20a,for%20the%20database%20to%20use.&text=Step%204%20%2D%20then%20use%20the,an%20object%20of%20class%20SQLAlchemy.">Helpful Documentation</a></h4>
    <ul>
    {% for word in words%}
    <li>{{word}}</li>
    {% endfor %}
    </ul>
    <form action="/" method="POST">
	    <input type="text" name="word" id="word"/>
	    <button>Submit</button>
    </form>
{%endblock%}
